$basic-fz: 14px !default;

//colors
$gold-cl: #fad451 !default;
$blue-cl: #060a3c !default;
$light-blue-cl: #f8fbff !default;

//font families
$main-ff: "Reem Kufi", "Segoe UI", "Segoe WF", "Segoe Regular" !default;
$sec-ff: "Tajawal", "Segoe UI", "Segoe WF", "Segoe Regular" !default;

// Media Queries
$xs-width: 767px;
